@{
    ViewData["Title"] = "Lab Week 2 Controllers";
}

<div class="text-center">
    <h1 class="display-4">Lab Week 2 Controllers</h1>
    <p>Dylan Shaffer, Computing, Information Technology</p>
</div>
